<%- include('includes/head') %>
<%- include('includes/navbar') %>

   <div class="container">
        <div class="row">

            <div class="col-lg-4"></div>

            <div class="col-lg-4 my-3">

              <%- include('includes/messages') %>

                <h1 class="display-1 text-center pt-5">Criar conta</h1>
                <p class="text-center lead">Se já tiver conta clique <a href="/login/index">Aqui</a></p>

                <form method="POST" action="/login/cadastra">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome">
                  </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Endereço de email</label>
                      <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Senha</label>
                      <input type="password" class="form-control" name="senha">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Repita senha</label>
                      <input type="password" class="form-control" name="senha-confirmacao">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
            </div>

            <div class="col-lg-4"></div>

        </div>
   </div>

<%- include('includes/footer') %>