<%- include('includes/head') %>
<%- include('includes/navbar') %>

   <div class="container">
        <div class="row">

            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">

              <%- include('includes/messages') %>
             

                <h1 class="display-1 text-center pt-5"><%= contato._id ?  'Edita contato' : 'Criar contato'  %></h1>
                <p class="text-center lead">Precisar ter email ou numero </p>

                  <form method="POST" action="<%= contato._id ?  '/contato/editaContato/:contato._id' : '/contato/criarContato'  %>">

                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="id" value="<%= contato._id %>">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nome</label>
                        <input type="text" class="form-control"  name="nome" value="<%= contato.nome %>">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control"  name="sobrenome" value="<%= contato.sobrenome %>">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Endereço de email</label>
                      <input type="email" class="form-control" name="email" value="<%= contato.email %>">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">numero</label>
                      <input type="number" class="form-control" name="numero" value="<%= contato.numero %>">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
            </div>

            <div class="col-lg-2"></div>

        </div>
   </div>

<%- include('includes/footer') %>