<%- include('includes/head') %>
<%- include('includes/navbar') %>

   <div class="container">
        <div class="row">

            <div class="col-lg-4"></div>

            <div class="col-lg-4 my-3">

              <%- include('includes/messages') %>


                <h1 class="display-1 text-center pt-5">Entra na sua conta</h1>
                <p class="text-center lead">Caso não tenha uma conta ainda clique <a href="/login/cadastra">Aqui</a></p>

                <form method="POST" action="/login/login">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Endereço de email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Senha</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="senha">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
            </div>

            <div class="col-lg-4"></div>

        </div>
   </div>

<%- include('includes/footer') %>